{% extends 'base.html' %}
{% load static %}
{% block title %}Set an Appointment to See Dr. Douglass {% endblock %}
{% block meta_description %}Appointment{% endblock %}


{% block content %}
  <!-- ***** Breadcrumb Area Start ***** --> 
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">

  <!-- <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url(img/bg-img/12.jpg);"> -->
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Appointment</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Set Appointment</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->


  <!-- <h1>Booked Appointment!</h1> -->
  <div>
      <center>
          <h1>Review Your Information</h1>
          <strong>Your Name: </strong> {{ your_name }} <br>
          <strong>Phone: </strong> {{ your_phone }} <br>
          <strong>Email: </strong> {{ your_email }} <br>
          <strong>Address: </strong>  {{ your_address }}  <br>
          <strong>When: </strong> {{ your_schedule }}  <br>
          <strong>Appointment Day: </strong> {{ your_date }}<br>
          <strong>Message: </strong> {{ your_message }} <br>
      </center>
  </div>

<br><br>
  <div>
      <center>
        <strong>Note: </strong> This appointment hasn't been set yet. We will contact you shortly via Email to confirm your appointment...
    </center>
    </div>


<!-- <center>
    <h1>Please Review your Appointment Information:</h1>
    <p>{{ your_name }}</p>
    <p>{{ your_email }}</p>
    <p>{{ your_phone }}</p>
    <p>{{ your_address }}</p>
    <p>{{ your_schedule }}</p>
    <p>{{ your_date }}</p>
    <p>{{ your_message }}</p>
</center> -->

  
<br><br><br>
  


  <!-- 
    <center>
     <h2>Thanks {{ message_name }}!</h2>
    <p>We received your email and will respond shortly...</p>
   </center> 
  <br/><br/><br/> -->


  
{% endblock %}